html,body{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}
a,a:visited{
	color: inherit !important;
	text-decoration: none;
}
#logo{
	font-size: 1.2em;
}
.no-margin{
	margin: 0px;
}

.red{
background-color: #E74C3C !important;
}
.be-red{
	background-color: #1E2073; 
}
.white{
	color: #EFEFED;
} 
.large-padding{
	padding: 11px 8px;
}
.field{
	margin-top:1em;
}
.top-space{
	margin-top:1em;
}
